<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
  </startup>
  <appSettings>
    <add key="bitsPerSec" value="9600" />
    <add key="dataBits" value="8" />
    <add key="parity" value="0" />
    <add key="stopBits" value="1" />
    <add key="stringLeng" value="1" />
    <add key="SerialPort" value="COM3" />
  </appSettings>
</configuration>
